<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yc.fav.mapper.TagMapper">
	
    <select id="findALlTags" resultType="Tag">
        select * from tag
    </select>
    
     <select id="findTagByTname" parameterType="string" resultType="boolean">
        select count(1) from tag where tname = #{tname}
    </select>
    
     <insert id="insertTag" parameterType="string">
         insert into tag values(seq_tag.nextval, #{tname}, 1)
     </insert>
     
     <update id="updateTagCounts" parameterType="string">
         update tag set tcount = tcount + 1 where tname = #{tname}
     </update>
</mapper>